:root {
  --dark-mode-background: #242424;
  --dark-mode-text: #bdbdbd;
  --light-mode-background: #bdbdbd;
  --light-mode-text: #242424;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#light {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}
#dark {
  background-color: var(--dark-mode-background);
  color: var(--dark-mode-text);
}
body {
  margin: 0;
}
#dark body {
  background-color: var(--dark-mode-background);
  color: var(--dark-mode-text);
}
#light body {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

.App {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.App-header {
  height: 26px;
  margin-top: 5px;
  display: flex;
  
}
.App-header p {
  font-size: 18px;
  line-height: 180%;
  margin-right: 10px;
  margin-left: 10px;
}