#person-table {
    /*font-family: Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 80%;
}

#person-table td, #person-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#person-table tr:nth-child(even){background-color: rgba(255, 255, 255, 0.1);}

#person-table tr:hover {background-color: rgba(255, 255, 255, 0.15);;}

#person-table tr {
    transition: 0.3s;
}

#person-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(32, 15, 51, 1);
    font-size: 120%;
    /*color: white;*/
}

#new-person-form {
    display: grid;
    row-gap: 10%;
}

#new-person-form input {
    background-color: transparent;
    font-size: 120%;
    box-shadow: inset 0px 0px;
    color: inherit;
}

#new-person-form p {
    font-size: 150%;
    font-weight: bold;
}

.person-form-container {
    padding: 2%;
    width: 30%;
}

.person-table-container {
    padding: 5%;
    width: 100%;
}

