table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 2px solid grey;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

table tr:hover,
table tr:focus {
  background-color: rgba(255, 255, 255, 0.15);
}

table tr {
  transition: 0.3s;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightgrey;
  font-size: 1.2em;
}